@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 300;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 15px;
   background: #666;
}

.intro {
   background: #fff;
   padding: 20px 30px;
   color: #666;
   margin-bottom: 15px;
   line-height: 1.5;
   text-align: center;
}

.intro h1 {
   font-size: 28pt;
   padding-bottom: 15px;

}

.intro p {
   font-size: 24px;
}


.intro a.btn {
   text-decoration: none;
   color: #666;
   border: 2px solid #666;
   padding: 10px 15px;
   display: inline-block;
   margin-left: 5px;
}

.intro a.btn:hover {
   background: #666;
   color: #fff;
   transition: .3s;
   -webkit-transition: .3s;
}

.btn:before {
   font-family: FontAwesome;
   font-weight: normal;
   margin-right: 10px;
}


.credit {
   background: #fff;
   padding: 10px;
   font-size: 11pt;
   text-align: center;
   color: #666;
   margin-top: 40px;

}


.navbar {
   background-color: #666;
   border-style: none;
}

main {
   background: #fff;
   padding: 20px;
}

@media only screen and (min-width: 1280px) {
   main {
      max-width: 1166px;
      margin-left: auto;
      margin-right: auto;
      padding: 24px;
   }


}


.set-overlayer,
.set-glass,
.set-sticky {
   cursor: pointer;
   height: 45px;
   line-height: 45px;
   padding: 0 15px;
   color: #666;
   font-size: 16px;
}

.set-overlayer:after,
.set-glass:after,
.to-active:after,
.set-sticky:after {
   font-family: FontAwesome;
   font-size: 18pt;
   position: relative;
   float: right;
}

.set-overlayer:after,
.set-glass:after,
.set-sticky:after {
   content: "\f204";
   transition: .6s;
}

.to-active:after {
   content: "\f205";
   color: #555;
   transition: .6s;
}

.set-overlayer,
.set-glass,
.set-sticky,
.source,
.theme-tray {
   margin: 10px;
   background: #f2f2f2;
   border-radius: 5px;
   border: 2px solid #f1f1f1;
   box-sizing: border-box;
}

/* Syntax Highlighter*/

pre.prettyprint {
   padding: 15px !important;
   margin: 10px;
   border: 0 !important;
   background: #f2f2f2;
   overflow: auto;
}

.source {
   white-space: pre;
   overflow: auto;
   max-height: 400px;
}

.show-cart li {
   display: flex;
}

.card {
   margin-bottom: 20px;
}

.card-img-top {
   width: 200px;
   height: 200px;
   align-self: center;
}

code {
   border: 1px solid #ddd;
   padding: 2px;
   border-radius: 2px;
}